#c_file_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: genseki;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  background-color: whitesmoke;

  @font-face {
    font-family: genseki;
    src: url("@/assets/font/genseki.ttf");
  }

  // header
  #header {
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    display: flex;
    align-items: center;

    #folder_nm {
      font-size: 20px;
      margin-right: 10px;
      user-select: none;

      .folder_nm_item {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .spliter {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    #file_operation {
      background-color: #2d0516;
      color: white;
      margin-left: 15px;
      padding: 10px 20px;
      border-radius: 20px;
      user-select: none;
  
      *:not(:last-child) {
        margin-right: 15px;
      }
      svg {
        cursor: pointer;
      }
    }
  }

  #file_drop_area {
    border-radius: 10px;
    background-color: white;
    height: calc(100% - 110px);
    padding: 10px;
  }

  // files
  .file_obj {
    background: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey; 
    padding: 15px;
  
    div:first-child {
      width: 30px;
    }

    .icon_using {
      margin-right: 10px;
    }
    .file_name {
      width: 100%;
      text-align: start;
      user-select: none;
    }  
    &:first-child {
      border-top: 1px solid grey; 
    }
    &.selected {
      background-color: #fdd4a5;
    }
    &:hover:not(.selected) {
      background-color: #efdecb;
    }
  }

  // uploading files
  .file_obj.uploading {
    .icon_uploading {
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }    
      animation: spin 1s linear infinite;
    }
    .icon_cancel {
      display: none;
      cursor: pointer;
    }
    .file_name {
      opacity: 0.5;
    }
    progress {
      width: 50px;
      margin-right: 10px;
    }

    &:hover {
      .icon_uploading {
        display: none;
      }
      .icon_cancel {
        display: block;
      }
    }
  }
}


